<% include ../Shared/header %>
    <!-- Bootstrap Core CSS -->
    <link href='/stylesheets/bootstrap.min.css' rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="/stylesheets/metisMenu.min.css" rel="stylesheet">

    <!-- Timeline CSS -->
    <link href="/stylesheets/timeline.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/stylesheets/sb-admin-2.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="/stylesheets/morris.css" rel="stylesheet">

    <script src="/javascripts/bootstrap.min.js"></script>

    <body>
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Dashboard</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="huge">&nbsp本日銷貨額 :</div>
                                <div class="huge" style="text-align:right">

                                    $83514
                                    <%=TSales %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-green">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="huge">&nbsp本日進貨額 :</div>
                                <div class="huge" style="text-align:right">

                                    $35689
                                    <%=TPrice %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-yellow">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="huge">&nbsp顧客總人數 :</div>
                                <div class="huge" style="text-align:right">

                                    2254(人)</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-red">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="huge">&nbsp今日工單數 :</div>
                                <div class="huge" style="text-align:right">

                                    5(單)</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-8">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw"></i> 主產品銷額趨勢
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div id="morris-area-chart"></div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw"></i> 廠商進貨額排行 &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 各年進銷額比較圖
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-hover table-striped">
                                            <thead>
                                                <tr>
                                                    <th>名次</th>
                                                    <th>廠商</th>
                                                    <th>進貨額</th>
                                                </tr>
                                            </thead>
                                            <tbody>

                                                <%  var i = 1 ;
                                              rankList.forEach(function(rank) { %>
                                                    <tr>

                                                        <td>
                                                            <%= i %>
                                                        </td>

                                                        <td>
                                                            <%= rank.SName %>
                                                        </td>

                                                        <td>$
                                                            <%= rank.TPrice %>
                                                        </td>
                                                    </tr>
                                                    <%  i++ }); %>

                                            </tbody>
                                        </table>
                                    </div>
                                    <!-- /.table-responsive -->
                                </div>
                                <!-- /.col-lg-4 (nested) -->
                                <div class="col-lg-8">
                                    <div id="morris-bar-chart"></div>
                                </div>
                                <!-- /.col-lg-8 (nested) -->
                            </div>
                            <!-- /.row -->
                        </div>
                        <!-- /.panel-body -->
                    </div>

                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-8 -->
                <div class="col-lg-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bell fa-fw"></i> 庫存警示
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="list-group">
                                <% stockList.forEach(function(stock) { %>
                                    <a class="list-group-item">
                                        <i class="fa fa-comment fa-fw"></i>
                                        <%= stock.PName %>/
                                            <%= stock.Types %>/
                                                <%= stock.Specification %>
                                                    <span class="pull-right text-muted small"><em><%= stock.Quantity %></em>
                                    </span>
                                    </a>
                                    <%  }); %>


                            </div>
                            <!-- /.list-group -->

                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw"></i> 獲利分配圖
                        </div>
                        <div class="panel-body">
                            <div id="morris-donut-chart"></div>
                        </div>
                        <!-- /.panel-body -->
                    </div>

                    <!-- /.panel .chat-panel -->
                </div>
                <!-- /.col-lg-4 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

        </div>
        <!-- /#wrapper -->

        <!-- jQuery -->
        <script src="/javascripts/jquery.min.js"></script>
        <!-- Bootstrap Core JavaScript -->
        <script src="/javascripts/bootstrap.min.js"></script>
        <!-- Metis Menu Plugin JavaScript -->
        <script src="/javascripts/metisMenu.min.js"></script>
        <!-- Morris Charts JavaScript -->
        <script src="/javascripts/raphael-min.js"></script>
        <script src="/javascripts/morris.min.js"></script>
        <!-- <script src="/javascripts/morris-data.js"></script> -->
        <script>
            $(function() {

                Morris.Area({
                    element: 'morris-area-chart',
                    data: [{
                        period: '2014 Q1',
                        輪胎: <%= sumSubSalesAY1Q1 %>,
                        機油: <%= sumSubSalesBY1Q1 %>,
                        火星塞: <%= sumSubSalesCY1Q1 %>
                    }, {
                        period: '2014 Q2',
                        輪胎: <%= sumSubSalesAY1Q2 %>,
                        機油: <%= sumSubSalesBY1Q2 %>,
                        火星塞: <%= sumSubSalesCY1Q2 %>
                    }, {
                        period: '2014 Q3',
                        輪胎: <%= sumSubSalesAY1Q3 %>,
                        機油: <%= sumSubSalesBY1Q3 %>,
                        火星塞: <%= sumSubSalesCY1Q3 %>
                    }, {
                        period: '2014 Q4',
                        輪胎: <%= sumSubSalesAY1Q4 %>,
                        機油: <%= sumSubSalesBY1Q4 %>,
                        火星塞: <%= sumSubSalesCY1Q4 %>
                    }, {
                        period: '2015 Q1',
                        輪胎: <%= sumSubSalesAY2Q1 %>,
                        機油: <%= sumSubSalesBY2Q1 %>,
                        火星塞: <%= sumSubSalesCY2Q1 %>
                    }, {
                        period: '2015 Q2',
                        輪胎: <%= sumSubSalesAY2Q2 %>,
                        機油: <%= sumSubSalesBY2Q2 %>,
                        火星塞: <%= sumSubSalesCY2Q2 %>
                    }, {
                        period: '2015 Q3',
                        輪胎: <%= sumSubSalesAY2Q3 %>,
                        機油: <%= sumSubSalesBY2Q3 %>,
                        火星塞: <%= sumSubSalesCY2Q3 %>
                    }, {
                        period: '2015 Q4',
                        輪胎: <%= sumSubSalesAY2Q4 %>,
                        機油: <%= sumSubSalesBY2Q4 %>,
                        火星塞: <%= sumSubSalesCY2Q4 %>
                    }, {
                        period: '2016 Q1',
                        輪胎: <%= sumSubSalesAY3Q1 %>,
                        機油: <%= sumSubSalesBY3Q1 %>,
                        火星塞: <%= sumSubSalesCY3Q1%>
                    }, {
                        period: '2016 Q2',
                        輪胎: <%= sumSubSalesAY3Q2 %>,
                        機油: <%= sumSubSalesBY3Q2 %>,
                        火星塞: <%= sumSubSalesCY3Q2 %>
                    }],
                    xkey: 'period',
                    ykeys: ['輪胎', '機油', '火星塞'],
                    labels: ['輪胎', '機油', '火星塞'],
                    pointSize: 2,
                    hideHover: 'auto',
                    resize: true
                });

                Morris.Donut({
                    element: 'morris-donut-chart',
                    data: [{
                        label: "疑難雜症",
                        value: 30
                    }, {
                        label: "基本保養",
                        value: 40
                    }, {
                        label: "正常維護",
                        value: 30
                    }],
                    resize: true
                });



                Morris.Bar({
                    element: 'morris-bar-chart',
                    data: [{
                        y: 2012,
                        a: <%= sumPurchaseA %>,
                        b: <%= sumSalesA %>
                    }, {
                        y: 2013,
                        a: <%= sumPurchaseA %>,
                        b: <%= sumSalesB %>
                    }, {
                        y: 2014,
                        a: <%= sumPurchaseA %>,
                        b: <%= sumSalesC %>
                    }, {
                        y: 2015,
                        a: <%= sumPurchaseA %>,
                        b: <%= sumSalesD %>
                    }, {
                        y: 2016,
                        a: <%= sumPurchaseA %>,
                        b: <%= sumSalesE %>
                    }],
                    xkey: 'y',
                    ykeys: ['a', 'b'],
                    labels: ['銷貨額', '進貨額'],
                    hideHover: 'auto',
                    resize: true
                });

            });
        </script>
        <!-- Custom Theme JavaScript -->
        <script src="/javascripts/sb-admin-2.js"></script>

    </body>
