<html>
<% include ../Shared/header %>

    <link rel='stylesheet' href='/stylesheets/style.css' />

    <body>

        <div class="hdr">
            <p class="title">新增成功</p>
        </div>
        <div style="width:100%;">

        </div>
        <br><br><br><br><br>
        <div style="width:50%;margin-left:25%;margin-right:25%;">
            <div style="background-color:#FCFCEB;border-radius:5px;height:auto;right:25%;left:25%;width:100%;text-align:center;">
                <p>商品：
                    <%= addProduct.PName %>
                </p>
                <br>
                <p>規格：
                    <%= addProduct.Specification %>
                </p>
                <br>
                <p>廠牌：
                    <%= addProduct.Types %>
                </p>
                <p>廠牌：
                    <%= addProduct.Quantity %>
                </p>
                <br>
                <p>進價：
                    <%= addProduct.Pur_Price %>
                </p>
                <br>
                <p>售價：
                    <%= addProduct.Sales_Price %>
                </p>
                <br>
                <p>單位：
                    <%= addProduct.unit %>
                </p>
                <br>
                <p>安全數量：
                    <%= addProduct.SafeQuantity %>
                </p>
            </div>
        </div>
        <br><br>
        <div class="col-md-12">
            <button class="btn btn-default" onclick="location.href='/addProduct'" style="float:center;">繼續新增</button>
            <button class="btn btn-default" onclick="location.href='/product'" style="float:center;">回列表</button>
        </div>
    </body>

</html>
