<html>
<% include ../Shared/header %>

    <link rel='stylesheet' href='/stylesheets/style.css' />

    <body>
        <div class="hdr">
            <p class="title">刪除商品</p>
        </div>
        <br><br><br>
        <div style="text-align:center;width:100%">
            <div style="position:relative;left:25%;width:50%;right:25%;">
                <form name="sentMessage" action="/delProduct/delete" method="POST" novalidate>
                    <div style="background-color:#F6F8F1;border-radius:2px;height:auto;width:100%;text-align:left;margin:0px;padding-left:20px;padding-top:8px;">
                        <span>商品：</span>
                        <span>
                  <%= delProduct.PName %></span>
                        <br>
                        <span>廠牌：</span>
                        <span>
                  <%= delProduct.Types %>
                  </span><br>
                        <span>規格：</span>
                        <span>
                  <%= delProduct.Specification %>
                  </span><br>
                        <span>數量：</span>
                        <span>
              <%= delProduct.Quantity %>
              </span><br>
                    </div>
                    <br>
                    <input type="hidden" name="Id" value="<%= delProduct.Id %>" />
                    <button class="btn btn-default" type="submit" style="float:center;">刪除</button>
                </form>
                <button class="btn btn-default" type="submit" style="float:center;" onclick="location.href='/product'">取消</button>
            </div>
    </body>

</html>
