<html>
<% include ../Shared/header %>

    <link rel='stylesheet' href='/stylesheets/style.css' />

    <body>
        <div class="hdr">
            <p class="title">查詢</p>
        </div>
        <br><br><br><br>
        <div class="col-md-10">
            <form class="form-inline" name="sentMessage" action="/productDetail" method="POST" id="product" novalidate>
                <div class="form-group">
                    <label for="PName">依名稱</label>
                    <select id="PName" class="form-control" name="PName">
       <option class="options">---請選擇---</option>
       <% PNameList.forEach(function(PName) { %>
      <option class="options"><%= PName.PName %></option>
        <%  }); %>
    </select>
                </div>
                <div class="form-group">
                    <label for="Types">依廠牌</label>
                    <select id="Types" class="form-control" name="Types">
        <option class="options">---請選擇---</option>
        <% TypesList.forEach(function(Types) { %>
       <option class="options"><%= Types.Types %></option>
         <%  }); %>
    </select>
                </div>
                <div class="form-group">
                    <label for="Specification">依規格</label>
                    <select id="Specification" class="form-control" name="Specification">
    <option class="options">---請選擇---</option>
    <% SpecificationList.forEach(function(Specification) { %>
   <option class="options"><%= Specification.Specification %></option>
     <%  }); %>

</select>
                </div>
                <button id="button" class="btn btn-default" type="submit">查詢</button>
            </form>

        </div>
        <div class="col-md-2">
            <button class="btn btn-primary" onclick="location.href='/addProduct'" style="float:right">新增零件</button>
        </div>
        <br>
        <div style="overflow:scroll;height:60%;width:100%;">
            <p id="demo"></p>
            <table class="worklisttable">
                <tr>
                    <th class="th0">商品名稱</th>
                    <th class="th0">廠牌</th>
                    <th class="th0">商品規格</th>
                    <th class="th0">存貨數量</th>
                    <th class="th0">其他功能</th>
                </tr>
                <% productList.forEach(function(product) { %>
                    <tr class="tr1">
                        <td name="PName">
                            <%= product.PName %>
                        </td>
                        <td name="Types">
                            <%= product.Types %>
                        </td>
                        <td name="Specification">
                            <%= product.Specification %>
                        </td>
                        <td name="Quantity">
                            <%= product.Quantity %>
                        </td>
                        <td style="width:150px;">
                            <form action="/upProduct" method="POST" novalidate style="float:left;margin:5px;">
                                <input type="hidden" name="Id" value="<%= product.Id %>" />
                                <button id="button" class="btn1" type="submit">編輯</button>
                            </form>
                            <form action="/delProduct" method="POST" novalidate style="float:right;margin:5px;">
                                <input type="hidden" name="Id" value="<%= product.Id %>" />
                                <button id="button" class="btn1" type="submit">刪除</button>
                            </form>
                        </td>
                    </tr>
                    <%  }); %>

            </table>
        </div>
        <a class="btn btn-default" href="/product">返回</a>
        <script src="/javascripts/jquery.min.js"></script>
        <script>
            function myFunction() {
                var x = document.getElementById("Types").value;
                document.getElementById("demo").innerHTML = "You selected: " + x;

                $.ajax({
                    url: "http://localhost:3000/productDetail",
                    dataType: 'html',
                    type: 'GET',

                    success: function(data) {
                        alert(data);
                        var x = document.getElementById("Types").value;
                        Types = x;
                    },

                    error: function(xhr, ajaxOptions, thrownError) {
                        alert(xhr.status);
                        alert(thrownError);
                    }

                });

            }
        </script>
    </body>

</html>
