<% include ../Shared/header %>

    <link rel='stylesheet' href='/stylesheets/style.css' />


    <div class="hdr">
        <p class="title">銷貨退回</p>
    </div>
    <form name="sentMessage" action="/bksalesList" method="POST" novalidate>
        <br><br><br>
        <div style="text-align:center;">
            <div style="position:relative;left:50%;margin-left:-250px;">
                <p style="background-color:#DDDDDD;border-radius:10px;height:auto;width:300px;text-align:center;margin:0px;">
                    客戶：
                    <%= bksales.CName %><br>總額：
                        <%= bksales.TSales %><br>狀態：
                            <%= bksales.Status %>
            </div>
            <br>
        </div>

        <table>
            <tr border="1">
                <th>名稱</th>
                <th>廠牌</th>
                <th>規格</th>
                <th>數量</th>
                <th>單價</th>
                <th>小計</th>
            </tr>

            <% for(i=0;i<10;i++) { %>
                <tr class="tr_odd">
                    <td><select class="text1" name="bk_PName" onchange="PName.submit()">
             <option class="options" ></option>
             <% PNameList.forEach(function(PName) { %>
             <option class="options"><%= PName.PName %></option>
              <%  }); %>
          </select></td>
                    <td><select class="text1" name="bk_Types">
            <option class="options" ></option>
            <% TypesList.forEach(function(Types) { %>
           <option class="options"><%= Types.Types %></option>
             <%  }); %>
        </select></td>
                    <td><select class="text1" name="bk_Specification">
            <option class="options" ></option>
            <% SpecificationList.forEach(function(Specification) { %>
           <option class="options"><%= Specification.Specification %></option>
             <%  }); %>
        </select></td>
                    <td><input type="text" class="text1" name="bk_Quantity" value=""></td>
                    <td><input type="text" class="text1" name="bk_Price" value=""></td>
                    <td><input type="text" class="text1" name="bkSubPrice" value=""></td>
                    <input type="hidden" name="tableList" value="<%=i%>"></input>
                </tr>
                <%  }; %>

        </table>

        </div>
        <button id="button" class="btn btn-info" type="submit">確認</button>
    </form>
