<% include ../Shared/header %>

    <link rel='stylesheet' href='/stylesheets/style.css' />


    <div class="hdr">
        <p class="title">銷貨退回</p>
    </div>

    <br><br><br>
    <div style="text-align:center;">
        <div style="position:relative;left:50%;margin-left:-250px;">
            <p style="background-color:#DDDDDD;border-radius:10px;height:200px;width:500px;text-align:center;margin:0px;font-size:40px;">
                客戶：
                <%= bksales.CName %><br>總額：
                    <%= bksales.TSales %><br>狀態：
                        <%= bksales.Status %>
        </div>
        <br>
    </div>

    <div style="width:100%;">

        <table>
            <tr border="1">
                <th>名稱</th>
                <th>廠牌</th>
                <th>規格</th>
                <th>數量</th>
                <th>單價</th>
                <th>小計</th>
            </tr>


            <% for(i=0;i<10;i++) { %>
                <tr class="tr_odd">
                    <td>
                        <%= bksalesList.bk_PName[i] %>
                    </td>
                    <td>
                        <%= bksalesList.bk_Types[i] %>
                    </td>
                    <td>
                        <%= bksalesList.bk_Specification[i] %>
                    </td>
                    <td>
                        <%= bksalesList.bk_Quantity[i] %>
                    </td>
                    <td>
                        <%= bksalesList.bk_Price[i] %>
                    </td>
                    <td>
                        <%= bksalesList.bkSubPrice[i] %>
                    </td>
                </tr>
                <%  }; %>


        </table>


    </div>
    <button id="button" class="button" type="submit">返回</button>
    </form>
