<% include ../Shared/header %>

    <link rel='stylesheet' href='/stylesheets/style.css' />


    <div class="hdr">
        <p class="title">銷貨退回成功</p>
    </div>
    <div style="text-align:center;width:100%">
        <div style="position:relative;left:30%;width:25%;">
            <div style="background-color:#F6F8F1;border-radius:2px;height:80px;width:100%;text-align:left;margin:0px;padding-left:20px;padding-top:8px;">
                <span>客戶：</span>
                <span>
              <%= bksales.CName %></span>
                <br>
                <span>總額：</span>
                <span>
                <%= bksales.TSales %>
              </span>
                <br>
            </div>
            <br>
        </div>
        <table class="table table-bordered" style="text-align:center;">
            <tr>
                <th class="th2">名稱</th>
                <th class="th2">廠牌</th>
                <th class="th2">規格</th>
                <th class="th2">數量</th>
                <th class="th2">單價</th>
                <th class="th2">小計</th>
            </tr>


            <% for(i=0;i<10;i++) { %>
                <tr>
                    <td class="td0">
                        <%= bksalesList.bk_PName[i] %>
                    </td>
                    <td class="td0">
                        <%= bksalesList.bk_Types[i] %>
                    </td>
                    <td class="td0">
                        <%= bksalesList.bk_Specification[i] %>
                    </td>
                    <td class="td0">
                        <%= bksalesList.bk_Quantity[i] %>
                    </td>
                    <td class="td0">
                        <%= bksalesList.bk_Price[i] %>
                    </td>
                    <td class="td0">
                        <%= bksalesList.bkSubPrice[i] %>
                    </td>
                </tr>
                <%  }; %>
        </table>
    </div>
    <button id="button" class="button1" type="submit">返回</button>
    </form>
