<!DOCTYPE html>
<html>
<% include ../Shared/header %>

    <link rel='stylesheet' href='/stylesheets/style.css' />

    <body>
        <div>
        </div>
        <div class="hdr">
            <p class="title">查詢</p>
        </div>
        <br><br><br><br>
        <div class="col-md-10">
            <form class="form-inline" name="sentMessage" action="/supplierDetail" method="POST" id="product" novalidate>
                <div class="form-group">
                    <label for="SName">依名稱</label>
                    <select id="SName" class="form-control" name="SName">
         <option class="options">請選擇</option>
         <% supplierList.forEach(function(supplier) { %>
        <option class="options"><%= supplier.SName %></option>
          <%  }); %>
      </select>
                </div>
                <button id="button" class="btn btn-default" type="submit">查詢</button>
            </form>
        </div>
        <div class="col-md-2">
            <button class="btn btn-primary" onclick="location.href='/sup'" style="float:right">新增廠商</button>
        </div>
        <br><br>
        <div style="width:100%;overflow:scroll;height:500px;">
            <table class="table2">
                <tr>
                    <th class="th3">公司名稱</th>
                    <th class="th3">聯絡人</th>
                    <th class="th3">電話</th>
                    <th class="th3">統一編號</th>
                    <th class="th3">備註</th>
                    <th class="th3">編輯/刪除</th>
                </tr>
                <% supplierList.forEach(function(supplier) { %>
                    <tr class="tr_search">
                        <td class="td3" rowspan="2" style="font-weight:bold;font-size:24px;">
                            <%= supplier.SName %>
                        </td>
                        <td class="td3">
                            <%= supplier.Contact_Person %>
                        </td>
                        <td class="td3">
                            <%= supplier.Tell1 %>
                        </td>
                        <td class="td3"></td>
                        <td class="td3"></td>
                        <td class="td3">
                            <form class="form1" action="/supplier/upSupplier" method="POST" novalidate>
                                <input type="hidden" name="id" value="<%= supplier.id %>" />
                                <button id="button" class="btn2" type="submit">編輯</button>
                            </form>
                            <form class="form1" action="/supplier/delSupplier" method="POST" novalidate>
                                <input type="hidden" name="id" value="<%= supplier.id %>" />
                                <button id="button" class="btn2" type="submit">刪除</button>
                            </form>
                        </td>
                    </tr>
                    <tr class="tr_search">
                        <th class="th3">E-Mail</th>
                        <td class="td3" colspan="4" value="" style="text-align:left;padding-left:20px;">
                            <%= supplier.Email %>
                        </td>
                    </tr>
                    <%  }); %>
            </table>
        </div>
    </body>

</html>
