<% include ../Shared/header %>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" type="text/css" href="/stylesheets/jquery-ui.css" />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/jquery-ui-datepicker.js"></script>
    <script type="text/javascript">
        $(function() {
            $("#fromTime").datepicker();
        });
    </script>
    <script type="text/javascript">
        $(function() {
            $("#toTime").datepicker();
        });
    </script>

    <body>
        <div class="hdr">
            <p class="title">營業查詢</p>
        </div>
        <br><br><br>
        <div style="text-align:center;width:100%">
            <div style="position:relative;width:90%;">
                <div style="background-color:#F6F8F1;border-radius:2px;height:100px;width:100%;text-align:left;margin:0px;padding-left:20px;padding-top:8px;">
                    <form name="sentMessage" action="/accounting/findWorklist" method="POST" novalidate>
                        <span>客&nbsp&nbsp&nbsp戶：</span>
                        <input type="text" class="underline" size="5" placeholder="請輸入姓名">&nbsp&nbsp&nbsp
                        <label class="checkbox-inline">
                        <input type="checkbox" value="clear">查已結清
                      </label>
                        <label class="checkbox-inline">
                        <input type="checkbox" value="unclear">查未結清
                      </label> <br><br>
                        <span>查詢時段：</span>
                        <span class="glyphicon glyphicon-calendar"></span>
                        <input class="text0" type="text" name="fromTime" id="fromTime">
                        <span>至</span>
                        <span class="glyphicon glyphicon-calendar"></span>
                        <input class="text0" type="text" name="toTime" id="toTime">
                        <button style="background-color:transparent;border:0px;"><img style="height:30px;" src="../images/images/search.png"></a>
                    </form>
                </div>
                <br>
            </div>

            <table class="table table-bordered" style="text-align:center;">
                <tr>
                    <th class="th2">完工日期</th>
                    <th class="th2">工單號碼</th>
                    <th class="th2">車牌</th>
                    <th class="th2">車主</th>
                    <th class="th2">車主電話</th>
                    <th class="th2">實收總額</th>
                    <th class="th2">應收總額</th>
                </tr>
            <% worklist.forEach(function(car) { %>
                <tr>
                    <td class="td0"><%= car.OutDate %></td>
                    <td class="td0"><%= car.WorkId %></td>
                    <td class="td0"><%= car.CarId %></td>
                    <td class="td0"><%= car.CName %></td>
                    <td class="td0"><%= car.Tell1 %></td>
                    <td class="td0"><%= car.RealReceive %></td>
                    <td class="td0"><%= car.AccountReceivable %></td>
                </tr>
            <%  }); %>
            </table>

        </div>
        <button id="button" class="button1" type="submit" style="float:right;">回上頁</button>
    </body>
