<html>
<% include ../Shared/header %>

    <link rel='stylesheet' href='/stylesheets/style.css' />

    <body>
        <div>
        </div>
        <div class="hdr">
            <p class="title">查詢</p>
        </div>
        <br><br><br><br>
        <div class="col-md-10">
            <form class="form-inline" name="sentMessage" action="/customer" method="POST" id="product" novalidate>
                <div class="form-group">
                    <label for="CName">依名稱</label>
                    <select id="CName" class="form-control" name="CName">
         <option class="options">請選擇</option>
         <% cNameList.forEach(function(customer) { %>
        <option class="options"><%= customer.CName %></option>
          <%  }); %>
      </select>
                </div>
                <button id="button" class="btn btn-default" type="submit">查詢</button>
            </form>
        </div>
        <div class="col-md-2">
            <button class="btn btn-primary" onclick="location.href='/addCustomer'" style="float:right">新增客戶</button>
        </div>
        <br><br>
        <div style="width:100%;overflow:scroll;height:500px;">
            <table class="table2">
                <tr>
                    <th class="th3">客戶名稱</th>
                    <th class="th3">車牌</th>
                    <th class="th3">聯絡人</th>
                    <th class="th3">電話</th>
                    <th class="th3">統一編號</th>
                    <th class="th3">編輯/刪除</th>
                </tr>
                <% customerList.forEach(function(customer) { %>
                    <tr class="tr_search">
                        <td class="td3" style="font-weight:bold;font-size:24px;">
                            <%= customer.CName %>
                        </td>
                        <td class="td3">
                            <%= customer.CarId %>
                        </td>
                        <td class="td3">
                            <%= customer.Contact_Person %>
                        </td>
                        <td class="td3">
                            <%= customer.Tell1 %>
                        </td>
                        <td class="td3">
                            <%= customer.UniformNum %>
                        </td>
                        <td class="td3">
                            <form class="form1" action="/customer/upCustomer" method="POST" novalidate>
                                <input type="hidden" name="ID" value="<%= customer.ID %>" />
                                <button id="button" class="btn2" type="submit">編輯</button>
                            </form>
                            <form class="form1" action="/customer/delCustomer" method="POST" novalidate>
                                <input type="hidden" name="ID" value="<%= customer.ID %>" />
                                <button id="button" class="btn2" type="submit">刪除</button>
                            </form>
                        </td>
                    </tr>
                    <%  }); %>
            </table>
        </div>

    </body>

</html>
