<html>
<% include ../Shared/header %>

    <link rel='stylesheet' href='/stylesheets/style.css' />

    <body>
        <div class="hdr">
            <p class="title">刪除客戶</p>
        </div>
        <br><br><br>
        <div style="text-align:center;width:100%">
            <div style="position:relative;left:25%;width:50%;right:25%;">
                <form name="sentMessage" action="/customer/delete" method="POST" novalidate>
                    <div style="background-color:#F6F8F1;border-radius:2px;height:auto;width:100%;text-align:left;margin:0px;padding-left:20px;padding-top:8px;">
                        <span>客戶：</span>
                        <span>
                  <%= delCustomer.CName %></span>
                        <br>
                        <span>車牌：</span>
                        <span>
                    <%= delCustomer.CarId %>
                  </span><br>
                        <span>聯絡人：</span>
                        <span>
                  <%= delCustomer.Contact_Person %>
                </span><br>
                        <span>電話：</span>
                        <span>
                <%= delCustomer.Tell1 %>
              </span><br>
                        <span>統編：</span>
                        <span>
              <%= delCustomer.UniformNum %>
            </span>
                        <br>
                    </div>
            </div>
            <input type="hidden" name="CarId" value="  <%= delCustomer.CarId %>" />
            <input type="hidden" name="ID" value="  <%= delCustomer.ID %>" />
            <button class="btn btn-default" type="submit" style="float:center;">刪除</button>
            </form>
            <button class="btn btn-default" type="submit" style="float:center;" onclick="location.href='/customer'">取消</button>
        </div>
    </body>

</html>
