<html>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/javascripts/bootstrap.min.js"></script>

<body>
    <div class="container-fluid">
        <br>
        <h1 style="float:right;">結帳單</h1>
        <p>城林汽車修配廠<br> 236 新北市土城區中華路二段32-1號<br> TEL:02-82616441 0988-638-431<br> FAX:02-22744418 統編:19430493
    </div>
    <div class="container" style="width:100%;">
        <table class="table table-bordered">
            <tr>
                <th>委修單編號</th>
                <td>
                    <%= upWorklist.WorkId %>
                </td>
                <th>車型:</th>
                <td>
                    <%= upWorklist.carBrand %>&nbsp
                        <%= upWorklist.carType %>
                </td>
                <th>車牌</th>
                <td>
                    <%= upWorklist.CarId %>
                </td>
                <th>里程數:</th>
                <td>
                    <%= upWorklist.Miles %>
                </td>
            </tr>
            <tr>
                <th>車主: </th>
                <td>
                    <%= upWorklist.CName %>
                </td>
                <th>電話: </th>
                <td>
                    <%= upWorklist.Tell1 %>
                </td>
                <th>地址: </th>
                <td colspan="3">
                    <%= upWorklist.Address %>
                </td>
            </tr>
        </table>
    </div>
    <div class="col-sm-6">
        <p>工資</p>
        <table class="table table-bordered">
            <tr>
                <th>No.</th>
                <th>委修工作內容</th>
                <th>工 資</th>
            </tr>
            <tr>
                <td>1</td>
                <td>
                    查修費
                </td>
                <td>$300</td>
            </tr>
            <tr>
                <th colspan="2" style="text-align:right;">工資總額</th>
                <td>1000</td>
            </tr>
        </table>
    </div>
    <div class="col-sm-6">
        <p>材料</p>
        <table class="table table-bordered">

            <%  var i = 1 ;

          for(var j = 0; j < materiallist.length; j++){
           %>
                <tr>
                    <th>No.</th>
                    <th>品 名</th>
                    <th>註 記</th>
                    <th>售 價</th>
                    <th>數 量</th>
                    <th>小 計</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td>
                        <%= materiallist[j].PName %>
                    </td>
                    <td>
                        <%= materiallist[j].MNote %>
                    </td>
                    <td>
                        <%= materiallist[j].Price %>
                    </td>
                    <td>
                        <%= materiallist[j].MQuantity %>
                    </td>
                    <td>
                        <%= materiallist[j].Amount %>
                    </td>
                </tr>
                <%  i++}; %>
                    <tr>
                        <th colspan="5" style="text-align:right;">零件總額</th>
                        <td>$
                            <%= Amount %>
                        </td>
                    </tr>
        </table>

    </div>
    <div class="col-sm-12">
        <table class="table table-bordered">
            <tr>
                <th>稅前金額</th>
                <td>$2950</td>
                <th>稅金</th>
                <td>$150</td>
                <th>應收總金額</th>
                <td>$2100</td>
                <th>實收總金額</th>
                <td>$2100</td>
            </tr>
        </table>
        <button class="button1" onclick="window.print()">列印</button>
    </div>
    <br><br>
    <div class="col-sm-12" style="float:left;width:500px;height:200px;border:1px solid black;">
        <p>車主注意事項:</p><br>
        <p>一、委修車輛如遇天災人禍或其他不可抗力或不可歸責於承修一方之過失而發生損失時，承修廠概不負責。</p><br>
        <p>二、委修項目如有瑕疵，委修人可於三日內回廠檢修，委修人於車輛送修日起六個月內未清償修護費用取回車輛視同拋棄， 本廠得以將車輛自行處理充其修護費用。
        </p>
    </div>
    <div class="container" style="float:right;width:200px;height:80px;border:1px solid black;">
        <p style="text-align:left;">委修人簽章</p>
    </div>
</body>
