<html>
<% include ../Shared/header %>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <body>

        <div class="hdr">
            <p class="title">編輯工單</p>
        </div>
        <br><br><br><br>

        <div class="container" style="overflow-x:auto;">
            <table style="width:100%">
                <tr>
                    <td class="td">工單號碼:</td>
                    <td class="td1">
                        <%= upWorklist.WorkId %>
                    </td>
                    <form action="/worklist/milesStatus" method="POST" novalidate>
                    <td class="td">狀態:</td>
                    <td class="td1">

      <input class="text7" type="text" name="Status" value="<%= upWorklist.Status %>">
  </select>
                    </td>
                </tr>
                <tr>
                    <td class="td">車牌:</td>
                    <td class="td1">
                        <%= upWorklist.CarId %>
                    </td>
                    <td class="td">車主:</td>
                    <td class="td1">
                        <%= upWorklist.CName %>
                    </td>
                    <td class="td">車型:</td>
                    <td class="td1">
                        <%= upWorklist.carBrand %>&nbsp
                            <%= upWorklist.carType %>
                    </td>
                    <td class="td">里程數:
                        <td class="td1">
                            <input class="text7" type="text" name="Miles" value="<%= upWorklist.Miles %>"></td>
                </tr>
                  <button class="btn2" style="float:center;">儲存</button>
              </form>
                <tr>
                    <td class="td">進廠日期:</td>
                    <td class="td1" colspan="3">
                        <%= upWorklist.InDate %>
                    </td>
                    <td class="td">預計出廠:</td>
                    <td class="td1" colspan="3">
                        <%= upWorklist.ExpectDate %>
                    </td>
                </tr>
            </table>
        </div>

        <div class="container">
            <hr color=black size=3>
        </div>

        <div class="container">
            <p>維修套組:
                <div class="r">

                    <form action="/worklist/fixModel" method="POST" novalidate>
                        <input type="hidden" name="CarId" value="<%= upWorklist.CarId %>">
                        <button class="btn0" id="jQueryColorChange" name="fixModel" value="無">無</button>
                        <button class="btn0" id="jQueryColorChange" name="fixModel" value="鈑金">鈑&nbsp;&nbsp;金</button>
                        <button class="btn0" id="jQueryColorChange" name="fixModel" value="烤漆">烤&nbsp;&nbsp;漆</button>
                        <button class="btn0" id="jQueryColorChange" name="fixModel" value="驗車">驗&nbsp;&nbsp;車</button>
                        <button class="btn0" id="jQueryColorChange" name="fixModel" value="小保養">小保養</button>
                        <button class="btn0" id="jQueryColorChange" name="fixModel" value="中保養">中保養</button>
                        <button class="btn0" id="jQueryColorChange" name="fixModel" value="大保養">大保養</button>

                    </form>
                </div>
                <script>
                    $("button#jQueryColorChange").click(function() {
                        $('button').removeClass('selected');
                        $(this).addClass('selected');
                    });
                </script>
            </p>
        </div>

        <div class="container">
            <hr color=black size=3>
        </div>

        <div class="container">
            <p>客戶問題:
                <%= upWorklist.Question %>

            </p>
        </div>

        <div class="container">
            <hr color=black size=3>
        </div>

        <div class="abgne_tab">
            <script>
                $(function() {
                    // 預設顯示第一個 Tab
                    var _showTab = 2;
                    $('.abgne_tab').each(function() {
                        // 目前的頁籤區塊
                        var $tab = $(this);

                        var $defaultLi = $('ul.tabs li', $tab).eq(_showTab).addClass('active');
                        $($defaultLi.find('a').attr('href')).siblings().hide();

                        // 當 li 頁籤被點擊時...
                        // 若要改成滑鼠移到 li 頁籤就切換時, 把 click 改成 mouseover
                        $('ul.tabs li', $tab).click(function() {
                            // 找出 li 中的超連結 href(#id)
                            var $this = $(this),
                                _clickTab = $this.find('a').attr('href');
                            // 把目前點擊到的 li 頁籤加上 .active
                            // 並把兄弟元素中有 .active 的都移除 class
                            $this.addClass('active').siblings('.active').removeClass('active');
                            // 淡入相對應的內容並隱藏兄弟元素
                            $(_clickTab).stop(false, true).fadeIn().siblings().hide();

                            return false;
                        }).find('a').focus(function() {
                            this.blur();
                        });
                    });
                });
            </script>
            <ul class="tabs">
                <li><a href="#tab1">客戶資料</a></li>
                <li><a href="#tab2">工資登錄</a></li>
                <li><a href="#tab3">材料登錄</a></li>
                <li><a href="#tab4">結算交車</a></li>
            </ul>

            <div class="tab_container" style="overflow-x:auto;">
                <div id="tab1" class="tab_content">
                    <table class="table1">
                        <tr class="tr">
                            <th class="th">車牌</th>
                            <th class="th">車主</th>
                            <th class="th" colspan="2">車輛型式</th>
                            <th class="th">排氣量</th>
                            <th class="th">車身碼</th>
                            <th class="th">引擎碼</th>
                            <th class="th">出廠年份</th>

                        </tr>
                        <tr class="tr">
                            <td class="td">
                                <form class="form1" action="/worklist/searchPId" method="POST" novalidate>
                                    <input type="text" class="text2" value="<%= upWorklist.CarId %>">
                                </form>
                            </td>
                            <td class="td">
                                <form class="form1" action="/worklist/searchPId" method="POST" novalidate>
                                    <input type="text" class="text2" value="<%= upWorklist.CName %>">
                                </form>
                            </td>
                            <td class="td"><input type="text" class="text2" value="<%= upWorklist.carBrand %>"></td>
                            <td class="td"><input type="text" class="text2" value="<%= upWorklist.carType %>"></td>
                            <td class="td">
                                <input type="text" class="text2" value="<%= upWorklist.cc %>">
                            </td>
                            <td class="td"><input type="text" class="text2" value="<%= upWorklist.CarBodyNum %>"></td>
                            <td class="td"><input type="text" class="text2" value="<%= upWorklist.EngineNum %>"></td>
                            <td class="td1">
                                <input class="text" type="text" value="<%= upWorklist.YrOfManu %>">

                            </td>
                        </tr>
                        <tr class="tr">
                            <th class="th">聯絡人</th>
                            <th class="th" colspan="2">電話(1)</th>
                            <th class="th" colspan="2">電話(2)</th>
                            <th class="th" colspan="2">統一編號</th>
                            <th class="th">生日</th>
                        </tr>


                        <tr class="tr_odd">
                            <td>
                                <input type="text" class="text2" value="<%= upWorklist.Contact_Person %>"></td>
                            </td>
                            <td colspan="2">
                                <input type="text" class="text0" value="<%= upWorklist.Tell1 %>"></td>
                            </td>
                            <td colspan="2">
                                <input type="text" class="text0" value="<%= upWorklist.Tell2 %>"></td>
                            </td>
                            <td colspan="2">
                                <input type="text" class="text0" value="<%= upWorklist.UniformNum %>"></td>
                            </td>
                            <td class="td1">
                                <input class="text" type="text" name="EndTime" id="date_9" value="<%= upWorklist.CBirthDate %>">
                                <link rel="stylesheet" type="text/css" href="/stylesheets/jquery-ui.css" />
                                <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
                                <script type="text/javascript" src="/javascripts/jquery-ui-datepicker.js"></script>
                                <script type="text/javascript">
                                    $(function() {
                                        $("#date_9").datepicker();
                                    });
                                </script>
                            </td>

                        </tr>
                        <tr class="tr_odd">
                            <th>地址</th>
                            <td colspan="4">
                                <input type="text" class="text4" size="15" value="<%= upWorklist.Address %>" style=" background-color:transparent;border:3px; border-bottom-style: solid;border-top-style: none;border-left-style:none;border-right-style:none;" placeholder="Please enter your address.">
                        </tr>

                    </table>

                </div>
                <div id="tab2" class="tab_content">
                    <form style="width:100%">
                        <button class="btn2" style="float:right;">新增</button>
                    </form>
                    <br>
                    <table class="table1">
                        <tr>
                            <th class="th">No.</th>
                            <th class="th">工作內容</th>
                            <th class="th">工 資</th>
                            <th class="th">維修人員</th>
                            <th class="th">覆驗人員</th>
                            <th class="th">備註</th>
                            <th class="th">編輯</th>
                        </tr>
                        <tr class="tr">
                            <td>1</td>
                            <td class="td2">
                                <input type="text" class="text3">
                            </td>
                            <td class="td2"><input type="text" class="text2"></td>
                            <td>
                                <select class="selector">
                                  <option>林輝恩</option>
                                  <option>陳進</option>
                                  <option>王尚保</option>
                                </select>
                            </td>
                            <td>
                                <select class="selector">
                                  <option>林輝恩</option>
                                  <option>陳進</option>
                                  <option>王尚保</option>
                                </select>
                            </td>

                            <td class="td2">
                                <input type="text" class="text3">
                            </td>
                            <td rowspan="2">
                                <form style="margin:5px;">
                                    <button class="btn2" style="float:center;">登錄</button>
                                    <button class="btn2" style="float:center;">刪除</button>
                                </form>
                            </td>
                        </tr>

                    </table>
                </div>

                <div id="tab3" class="tab_content">
                    <form action="/worklist/addMat" method="POST" novalidate>
                        <input type="hidden" id="WorkId" name="id" value="<%= upWorklist.WorkId %>" />
                        <button class="button1" style="float:right;">新增</button>
                    </form>
                    <br>

                    <%  var i = 1 ;

                    for(var j = 0; j < materiallist.length; j++){
                     %>
                        <table class="table1">
                            <tr class="tr">
                                <th class="th">No.</th>
                                <th class="th">料 號</th>
                                <th class="th">品 名</th>
                                <th class="th">註 記</th>
                                <th class="th">材料行</th>
                                <th class="th">售 價</th>
                                <th class="th">數 量</th>

                            </tr>
                            <tr class="tr">
                                <td rowspan="3">
                                    <%= i %>
                                </td>
                                <td class="td2">
                                    <form id="saveMat" action="/worklist/saveMat" method="POST" novalidate>
                                        <input id="searchPId<%= i %>" type="text" class="text2" name="PId" value="<%= materiallist[j].Id %>">
                                        <button class="button2" data-toggle="modal" data-target="#searchPId" onClick="searchPId(<%= i %>)" type="button">&darr;</button>
                                </td>

                                <td class="td2"><input id="PName" type="text" name="PName" class="text2" value="<%= materiallist[j].PName %>"></td>

                                <td class="td2"><input type="text" name="MNote" class="text2" value="<%= materiallist[j].MNote %>"></td>
                                <td class="td2">
                                    <button class="button3" data-toggle="modal" data-target="#searchSupplier" onClick="searchSupplier(<%= i %>)" type="button">按此選材料行</button>
                                </td>



                                <input id="PName" type="hidden" name="PName" class="text2" value="<%= materiallist[j].PName %>">
                                <input type="hidden" name="MNote" class="text2" value="<%= materiallist[j].MNote %>">

                                <td class="td2"><input type="text" name="Price" class="text2" value="<%= materiallist[j].Price %>"></td>
                                <td class="td2"><input type="text" id="MQuantity" name="MQuantity" class="text2" value="<%= materiallist[j].MQuantity %>"></td>

                            </tr>
                            <tr class="tr">
                                <th class="th">維修人員</th>
                                <th class="th">覆驗人員</th>
                                <th class="th">是否修</th>
                                <th class="th">已維修</th>
                                <th class="th">小 計</th>
                                <th class="th"></th>
                            </tr>

                            <tr class="tr">
                                <td>
                                    <input type="text" name="WhoFix" class="text2" value="<%= materiallist[j].WhoFix %>">

                                </td>
                                <td>
                                    <input type="text" name="WhoCheck" class="text2" value="<%= materiallist[j].WhoCheck %>">
                                </td>

                                <td>
                                    <% if(materiallist[j].Fix == "否"){ %>
                                        <input type="radio" name="impair" value="是">是<br>
                                        <input type="radio" name="impair" checked="checked" value="否">否<br>
                                        <%  }else{ %>
                                            <input type="radio" name="impair" checked="checked" value="是">是<br>
                                            <input type="radio" name="impair" value="否">否<br>
                                            <%  } %>

                                </td>
                                <td>
                                    <% if(materiallist[j].Finished == "否"){ %>
                                        <input type="radio" name="impaired" value="是">是<br>
                                        <input type="radio" name="impaired" checked="checked" value="否">否<br>
                                        <%  }else{ %>
                                            <input type="radio" name="impaired" checked="checked" value="是">是<br>
                                            <input type="radio" name="impaired" value="否">否<br>
                                            <%  } %>

                                </td>
                                <td>$<input type="text" name="Amount" class="text2" value="<%= materiallist[j].Amount %>"></td>
                                <td>
                                    <input type="hidden" id="MatId" name="MatId" value="<%= materiallist[j].MatId %>" />
                                    <input type="hidden" name="WorkId" value="<%= upWorklist.WorkId %>" />


                                    <button class="button1" style="float:center;">登錄</button>
                                    </form>
                                    <form action="/worklist/delMat" method="POST" novalidate>
                                        <input type="hidden" name="WorkId" value="<%= upWorklist.WorkId %>" />
                                        <input type="hidden" id="MatId" name="MatId" value="<%= materiallist[j].MatId %>" />
                                        <button class="button1" style="float:center;">刪除</button>
                                    </form>
                                </td>
                            </tr>
                            <%  i++}; %>

                        </table>
                        <% if(status == "add"){ %>
                            <table class="table1">
                                <tr class="tr">
                                    <th class="th">No.</th>
                                    <th class="th">料 號</th>
                                    <th class="th">品 名</th>
                                    <th class="th">註 記</th>
                                    <th class="th">材料行</th>
                                    <th class="th">售 價</th>
                                    <th class="th">數 量</th>
                                </tr>
                                <tr class="tr">
                                    <td rowspan="3">
                                        <%= i %>
                                    </td>
                                    <td class="td2">

                                        <form action="/worklist/saveMat" method="POST" novalidate>

                                            <input id="searchPId<%= i %>" type="text" class="text2" name="PId">
                                            <button class="button2" data-toggle="modal" data-target="#searchPId" onClick="searchPId(<%= i %>)" type="button">&darr;</button>


                                    </td>

                                    <td class="td2"><input type="text" id="addPName" name="PName" class="text2"></td>

                                    <td class="td2"><input type="text" name="MNote" class="text2"></td>
                                    <td class="td2">

                                        <button class="button3" data-toggle="modal" data-target="#searchSupplier" onClick="searchSupplier(<%= i %>)" type="button">按此選材料行</button>
                                    </td>


                                    <td class="td2"><input type="text" name="Price" class="text2"></td>
                                    <td class="td2"><input type="text" name="MQuantity" class="text2"></td>

                                </tr>
                                <tr class="tr">
                                    <th class="th">維修人員</th>
                                    <th class="th">覆驗人員</th>
                                    <th class="th">是否修</th>
                                    <th class="th">已維修</th>
                                    <th class="th">小 計</th>
                                    <th class="th"></th>
                                </tr>

                                <tr class="tr">
                                    <td>
                                        <input type="text" name="WhoFix" class="text2" value="">
                                    </td>
                                    <td>
                                        <input type="text" name="WhoCheck" class="text2">
                                    </td>

                                    <td>

                                        <input type="radio" name="impair" checked="checked" value="是">是<br>
                                        <input type="radio" name="impair" value="否">否<br>


                                    </td>
                                    <td>

                                        <input type="radio" name="impaired" value="是">是<br>
                                        <input type="radio" name="impaired" checked="checked" value="否">否<br>

                                    </td>
                                    <td>$<input type="text" name="Amount" class="text2"></td>
                                    <td>


                                        <input type="hidden" name="MatId" value="undefined" />
                                        <input type="hidden" name="WorkId" value="<%= upWorklist.WorkId %>" />

                                        <button class="button1" style="float:center;">登錄</button>
                                        </form>
                                        <form action="/delProduct" method="POST" novalidate>

                                            <button class="button1" style="float:center;">刪除</button>
                                        </form>
                                    </td>
                                </tr>
                            </table>
                            <% }; %>
                </div>

                <div id="tab4" class="tab_content">
                    <div class="container">
                        <form action="/worklist/billsRegister" method="POST" novalidate>
                            <input type="hidden" name="WorkId" value="<%= upWorklist.WorkId %>" />
                            <input type="hidden" name="CarId" value="<%= upWorklist.CarId %>" />
                            <span>工資金額:<input type="text" name="WageAmount" class="text2" value="$0"></span>
                            <span>零件金額:<input id="Amount" name="Amount" type="text" class="text2" value="$<%= Amount %>"></span>
                            <br>
                            <span>稅前金額:<input id="BTax" name="PreTaxAmount" type="text" class="text2" value="$<%= Amount %>"></span>
                            <br>
                            <input type="radio" name="tax" checked="checked" value="no"><span>不要稅金</span>
                            <input type="radio" name="tax" value="yes"><span>要稅金:</span>
                            <input type="text" class="text2" value="5">%
                            </span>
                            <p>稅金:<input id="tax" name="Tax" type="text" class="text2" value="$0"></p>
                            <span>應收總金額:<input id="AR" name="AccountReceivable" type="text" class="text2" value="$<%= Amount %>"></span>
                            <span>實收總金額:<input type="text" name="RealReceive" class="text2" value="$"></span>
                            <span>折價:<input type="text" name="discount" class="text2" value="$"></span>
                            <br>
                            <label class="radio-inline">
                            <input id="up_radio" type="radio" name="optionsRadios" value="cash" checked>
                            現金
                        </label>
                            <label class="radio-inline">
                            <input id="ov_radio" type="radio" name="optionsRadios" value="creditcard">
                            信用卡
                        </label>
                            <script>
                                $(document).ready(function() {

                                    $('input:radio[name=tax]').change(function() {
                                        var BTax = $("#BTax").val();


                                        var Tax = parseInt(BTax) * 0.05;
                                        Tax = parseInt(Tax);
                                        var ATax = BTax * 1 + parseInt(Tax) * 1;

                                        if (this.value == 'yes') {
                                            $("#tax").val(Tax);
                                            $("#AR").val(ATax);
                                        } else if (this.value == 'yes') {
                                            $("#tax").val("0");
                                            $("#AR").val(BTax);
                                        }
                                    });
                                });
                            </script>
                            <br><br>
                            <button class="btn btn-primary">儲存收款</button>
                            <script>
                                $('input[name="optionsRadios"]').on('change', function() {
                                    if ($(this).val() == 'update') {

                                        //change to "show update"
                                        $("#cont").text("現金支付");

                                    } else {

                                        $("#cont").text("信用卡");
                                    }
                                });
                            </script>
                        </form>
                        <form action="/worklist/printBill" method="POST" novalidate>
                            <input type="hidden" name="WorkId" value="<%= upWorklist.WorkId %>" />
                            <button class="btn btn-primary">列印帳單</button>
                        </form>
                        <br><br>
                    </div>
                </div>
            </div>
        </div>

        <br><br>
        <div id="searchPId" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <table id="tableSearchPId" class="table2" border="1">
                            <thead>
                                <th class="th2">料號</th>
                                <th class="th2">分類</th>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div id="searchSupplier" class="modal fade" role="dialog" style="padding-right:0px;">
            <!-- Modal content-->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-5">
                        <h2>比價</h2>
                        <table id="tableSupplier" class="table2">
                            <thead>
                                <th class="th2">廠商</th>
                                <th class="th2">種類</th>
                                <th class="th2">成本價</th>
                                <th class="th2">通訊方式</th>
                            </thead>
                            <tr>
                                <td class="td0">薪宇</td>
                                <td class="td0">正廠</td>
                                <td class="td0">$1200</td>
                                <td class="td0"><a class="btn btn-primary" href="/server">寄e-mail</a></td>
                                </td>
                            </tr>
                            <tr>
                                <td class="td0">泰順</td>
                                <td class="td0">副廠</td>
                                <td class="td0">$800</td>
                                <td class="td0"><a class="btn btn-primary" href="/server">寄e-mail</a></td>
                                </td>
                            </tr>
                            <tr>
                                <td class="td0">弘毅</td>
                                <td class="td0">中古</td>
                                <td class="td0">$600</td>
                                <td class="td0"><a class="btn btn-primary" href="/server">寄e-mail</a></td>
                                </td>
                            </tr>
                            <tr>
                                <td class="td0">祥發</td>
                                <td class="td0">正廠</td>
                                <td class="td0">$1500</td>
                                <td class="td0"><a class="btn btn-primary" href="/server">寄e-mail</a></td>
                                </td>
                            </tr>
                            <tr>
                                <td class="td0">聚新</td>
                                <td class="td0">中古</td>
                                <td class="td0">$500</td>
                                <td class="td0"><a class="btn btn-primary" href="/server">寄e-mail</a></td>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-md-6">
                        <h2>報價</h2>
                        <table class="table2">
                            <tr>
                                <thead>
                                    <th class="th2">種類</th>
                                    <th class="th2">售價</th>
                                    <th class="th2">數量</th>
                                    <th class="th2">小計</th>
                                    <th class="th2">確認</th>
                                </thead>
                            </tr>
                            <tr>
                                <td class="td0">正廠</td>
                                <td class="td0"><input type="text" class="text7" value=""></td>
                                <td class="td0"><input type="text" class="text8" value=""></td>
                                <td class="td0"><input type="text" class="text7" value=""></td>
                                <td class="td0">
                                    <input type="checkbox" name="order" value="yes">
                                </td>
                            </tr>
                            <tr>
                                <td class="td0">副廠</td>
                                <td class="td0"><input type="text" class="text7" value=""></td>
                                <td class="td0"><input type="text" class="text8" value=""></td>
                                <td class="td0"><input type="text" class="text7" value=""></td>
                                <td class="td0">
                                    <input type="checkbox" name="order" value="yes">
                                </td>
                            </tr>
                            <tr>
                                <td class="td0">中古</td>
                                <td class="td0"><input type="text" class="text7" value=""></td>
                                <td class="td0"><input type="text" class="text8" value=""></td>
                                <td class="td0"><input type="text" class="text7" value=""></td>
                                <td class="td0">
                                    <input type="checkbox" name="order" value="yes">
                                </td>
                            </tr>
                        </table>
                        <br>
                    </div>
                    <div class="col-md-1">
                        <form class="form1" style="float:right;">
                            <br><br><br><br><br><br><br><br>
                            <button class="btn btn-default">儲存</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>

    <script>
        function searchPId(i) {

            var searchPId = $('#searchPId' + i).val();
            var num = i;
            $.ajax({
                url: "http://localhost:3000/worklist/searchPId",
                data: {
                    searchPId: searchPId
                },
                type: "get",
                dataType: 'json',

                success: function(data) {
                    $("#SearchPId").show();
                    $('#tableSearchPId tbody').html("");
                    $.each(data, function(i, item) {

                        $('#tableSearchPId')

                        .append('<tr onclick="setValue(\'' + data[i].Id + '\',\'' + data[i].PName + '\',\'' + num + '\')"><td class="td0" >' + data[i].Id + '</td>' +
                            '<td class="td0">' + data[i].PName + '</td></tr>')

                    });

                },

                error: function() {

                }

            });
        };

        function setValue(Id, value, num) {
            $("#searchPId" + num).val(Id);
            $("#addPName").val(value);
            $("#searchPId").hide();
            $("[data-dismiss=modal]").trigger({
                type: "click"
            });
        };

        function searchSupplier(i) {
            var searchPId = $('#searchPId' + i).val();
            var num = i;
            $.ajax({
                url: "http://localhost:3000/worklist/searchSupplier",
                data: {
                    searchPId: searchPId
                },
                type: "get",
                dataType: 'json',

                success: function(data) {
                    $("#SearchSupplier").show();
                    $('#tableSupplier tbody').html("");
                    $.each(data, function(i, item) {

                        $('#tableSupplier')

                        .append('<tr><td class="td0" >' + data[i].SName + '</td>' + '<td class="td0" >' + '正廠' + '</td>' + '<td class="td0" >' + data[i].Pur_Price + '</td>' +
                            '<td class="td0">' + '<a class="btn btn-primary" href="/server">寄e-mail</a>' + '</td></tr>')

                    });
                },

                error: function() {

                }

            });
        };

        function saveMat() {
            var WorkId = $('#WorkId').val();
            var MatId = $('#MatId').val();
            var MQuantity = $('#MQuantity').val();

            $.ajax({
                url: "http://localhost:3000/worklist/saveMat",
                data: {
                    MQuantity: MQuantity,
                    WorkId: WorkId,
                    MatId: MatId
                },
                type: "get",
                dataType: 'json',

                success: function(data) {
                    alert("成功");
                },

                error: function() {
                    alert(WorkId);
                    alert("再接再勵");
                }

            });
        };





        function closeSearchPId() {
            $("#SearchPIdWindows").hide();
        };

        function closeSearchSupplier() {
            $("#SearchSupplier").hide();
        };
    </script>

</html>
