<html>
<% include ../Shared/header %>

    <link rel='stylesheet' href='/stylesheets/style.css' />

    <body>
        <div class="container">
            <p class="title">工單總表</p>
        </div>

        <div style="width:100%;float:center;">
            <div class="dbtn" style="float:right;display:inline;">
                <button class="btn btn-primary" onclick="location.href='/addWorklist'" style="float:right;display:inline;">新增工單</button>
            </div>
        </div>

        <br><br><br>

        <div class="container" style="overflow:scroll;height:70%;width:100%;overflow-x:auto;">
            <table class="worklisttable">
                <tr>
                    <th class="th0">編號</th>
                    <th class="th0">車牌</th>
                    <th class="th0">車主</th>
                    <th class="th0">狀態</th>
                    <th class="th0" style="width:150px;text-align:center;">編輯</th>
                </tr>

                <% worklist.forEach(function(car) { %>
                    <tr class="tr1">
                        <td>
                            <%= car.WorkId %>
                        </td>
                        <td>
                            <%= car.CarId %>
                        </td>
                        <td>
                            <%= car.CName %>
                        </td>
                        <td>
                            <%= car.Status %>
                        </td>
                        <td style="width:150px;">
                            <form action="/worklist/upWorklist" method="GET" novalidate style="float:left;margin:5px;">
                                <input type="hidden" name="WorkId" value="<%= car.WorkId %>" />
                                <button style="background-color:transparent;border:0px;"><img style="height:40px;" src="../images/images/edit.png"></button>
                            </form>
                            <form action="/worklist/delWorkList" method="POST" novalidate style="float:right;margin:5px;">
                                <input type="hidden" name="WorkId" value="<%= car.WorkId %>" />
                                <button style="background-color:transparent;border:0px;"><img style="height:40px;" src="../images/images/delete.png"></a>
                            </form>
                        </td>
                    </tr>
                    <%  }); %>

            </table>
        </div>
</body>
</html>
