<% include ../Shared/header %>

    <link rel='stylesheet' href='/stylesheets/style.css' />


    <div class="hdr">
        <p class="title">銷貨成功</p>
    </div>
    <form name="sentMessage" action="/purchase" method="POST" novalidate>
        <div style="text-align:center;width:100%">
            <div style="position:relative;left:25%;width:25%;">
                <div style="background-color:#F6F8F1;border-radius:2px;height:80px;width:100%;text-align:left;margin:0px;padding-left:20px;padding-top:8px;">
                    <span>客戶：</span>
                    <span>
                    <%= sales.CName %></span>
                    <br>
                    <span>銷售額：</span>
                    <span>
                        <%= sales.TSales %>
                      </span>
                    <br>
                </div>
                <br>
            </div>
            <div style="width:100%;">
                <table class="table table-bordered">
                    <tr>
                        <th class="th2">名稱</th>
                        <th class="th2">廠牌</th>
                        <th class="th2">規格</th>
                        <th class="th2">數量</th>
                        <th class="th2">單價</th>
                        <th class="th2">小計</th>
                    </tr>

                    <% for(i=0;i<10;i++) { %>
                        <tr>
                            <td class="td0">
                                <%= salesList.Sales_PName[i] %>
                            </td>
                            <td class="td0">
                                <%= salesList.Sales_Types[i] %>
                            </td>
                            <td class="td0">
                                <%= salesList.Sales_Specification[i] %>
                            </td>
                            <td class="td0">
                                <%= salesList.Sales_Quantity[i] %>
                            </td>
                            <td class="td0">
                                <%= salesList.Sales_Price[i] %>
                            </td>
                            <td class="td0">
                                <%= salesList.SubPrice[i] %>
                            </td>
                        </tr>
                        <%  }; %>

                </table>

            </div>
        </div>
        <button id="button" class="button1" type="submit">確認</button>

    </form>
